profiles {

    local {
        executor {
    		name   = 'local'
    		cpus   = 1
    		memory = '2G'
	}
	singularity.enabled = true
	singularity.cacheDir = "$PWD"
	singularity.autoMounts = true
        singularity.pullTimeout = '40 min'
	singularity.cacheDir = "."
	singularity.runOptions = '-B /mnt/hc-storage/groups/cbf/Nextflow/SkeletalVis-Transcriptomics'
    }

    slurm {
        process.errorStrategy ='finish' 
	process.executor = 'slurm'
	executor.queueSize = 50
        process.time = '2d'
	singularity.enabled = true
	singularity.cacheDir = "$PWD"
	singularity.autoMounts = true
        singularity.pullTimeout = '40 min'
	singularity.cacheDir="."
singularity.runOptions = '-B /mnt/hc-storage/groups/cbf/Nextflow/SkeletalVis-Transcriptomics'	
process {
	    withLabel: multi_big_mem {
		executor = 'slurm'
		memory = '12G'
                cpus = 8
		time = '6h'
    	   }
	    withLabel: big_mem {
		executor = 'slurm'
		memory = '16G'
		time = '3h'
    	   }

            withLabel: standard {
                executor = 'slurm'
                memory = '5G'
                time = '2h'
           }

	    withLabel: short_job {
		executor = 'slurm'
		memory = '4G'
		time = '30m'
    	   }
withLabel: very_short_job {
		executor = 'slurm'
		memory = '2G'
		time = '5m'
    	   }

	    withLabel: multi_cpu {
		executor = 'slurm'
		memory = '60G'
		time = '16h'
		cpus =8
    	   }
            withLabel: short_big_mem {
                executor = 'slurm'
                memory = '18G'
                time = '1h'
                cpus = 1
           }

	    withLabel: download {
		executor = 'local'
    	   }
        }
    }
}

